body{
    /* background-color: pink; */
    font-family: "Plus Jakarta Sans", serif !important;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.container{
    flex: 1;
}

/* Navbar */
.navbar{
    height: 4rem;
    background-color: white;
    font-size: 0.9rem;
}

.fa-compass{
    color: #fe424d;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

/* Footer */
.f-info-links a {
    text-decoration: none;
    color: #222222;
    margin-right: 1rem;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links, .f-info-socials, .f-info-brand {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i {
    font-size: 1.2rem;
    margin-right: 0.7rem;
}

.f-info{
    text-align: center;
    height: 8rem;
    background-color: #ebebeb;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
}

/* Cards */
.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width: 100% !important;
    object-fit: cover !important;
}

.card-body{
    padding: 0 !important;
}

.card-text p {
    font-weight: 400 !important;
}

/* Card-effect */
.listing-link {
    text-decoration: none !important;
}

.card-img-overlay {
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

/* New Page */
.add-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* .new-btn{
    display: flex;
    justify-content:end;
} */

/* Edit Page */
.edit-btn{
    background-color: #fe424d !important;
    border: none !important;
}

/* Show Page */
.show-img{
    height: 45vh;
}

.btns{
    display: flex;
}

.dlt-btn{
    background-color: #fe424d !important;
    border: none !important;
    /* width: 13vh; */
}

.show-card{
    padding-left: 0;
    padding-right: 0;
}

/* Map */
#map{
    height: 350px;
    width: 87vh;
}

/* Map popup */
.custom-popup {
    position: absolute;
    background: rgba(240, 248, 255, 0.95); /* Light blueish background */
    color: #333;
    padding: 12px 15px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2); /* Soft shadow */
    text-align: center;
    font-family: "Arial", sans-serif;
    transition: opacity 0.2s ease-in-out;
    pointer-events: none; /* Prevent interaction */
    white-space: nowrap;
}

.custom-popup h5 {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    color: #007bff;
}

.custom-popup p {
    margin: 5px 0 0;
    font-size: 14px;
    color: #666;
}

